<h1>Add a movie</h1>

<form method="POST" action="/movies">
  <input placeholder="movie name" name="movie[name]" type="text" />
  <button>submit</button>
</form>

<button><a href="/">Go Back</a></button>
